::-webkit-scrollbar {
    display: none;
}

.navbar-brand {
    padding: 10px 15px !important;
}

.text {
    font-weight: 500;   
}

hr.new{
    border-top: 1px solid white;
}

.footer-text {
    font-size: 13px;
    font-weight: 500px;
}