::-webkit-scrollbar {
    display: none;
}

#myButton {
    background: url("form_send_button.gif") no-repeat;
    width: 62px;
    height: 24px;
}

#myInputButton { 
    background: url("form_send_button.gif") no-repeat;
    opacity: 0;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    width: 67px;
    height: 26px;
    cursor: pointer;
    cursor: hand;
}


.pointer {
    cursor: pointer;
    text-decoration: none;
}
.navbar-brand {
    padding: 10px 15px !important;
}

.text {
    font-weight: 500;   
}

.product-text {
    font-size: 14px;
    font-weight: 900;   
}

hr.new{
    border-top: 1px solid white;
}

.footer-text {
    font-size: 13px;
    font-weight: 500px;
}

.h-100 {
    min-height: 100vh;
    max-height: 999px;
    width: 100%;
}

.carousel .carousel-inner .carousel-item img {
    width: 100%;
    height: 25vh;
    border-radius: 0 !important;
  }

p {
    color: black !important;
    font-size: 15px !important;
}

.white {
    color: white !important;
}

.black {
    color:black !important;
    text-decoration: none;
}

.round {
    border-radius: .3rem!important;
}

.header-total {
    font-size: 20px;
    color:black !important;
    text-decoration: none;
}

.header {
    font-size: 25px;
    padding-left: 0px;
    color:black !important;
    text-decoration: none;
}

.header-two {
    font-size: 25px;
    padding-left: 0px;
    color:white !important;
    text-decoration: none;
}

.drop-header {
    font-size: 16px;
    color:white !important;
    text-decoration: none;
    /* 16 * 0.0625 = 1px */
    letter-spacing: 0.0625em;
}

.text-height {
    height: 50px;
}

.click:hover {
    background-color: #85C226 !important;
    color: black !important;
    text-decoration: none;
    /* 16 * 0.0625 = 1px */
    letter-spacing: 0.0625em;
}

.header-white {
    font-size: 25px;
    padding-left: 0px;
    padding: 15px;
    color:white !important;
    text-decoration: none;
}

.table-header {
    font-size: 19px;
    padding: 15px;
    color:black !important;
    text-decoration: none;
}

.black-header {
    font-size: 17px;
    color:black !important;
    text-decoration: none;
}


.price-text {
    font-size: 18px;
    color:white !important;
    text-decoration: none;
}

.navbar-text {
    color:white !important;
    font-size: 15px;
}

.text-white {
    color: white !important;
    font-size: 16px;
    font-weight: bold;
    padding: 14px;
}

.text-black {
    color: black !important;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    padding-left: 0px;
    padding-top: 14px;
    padding-bottom: 14px;
}

.bg-page {
    
    background-color: rgb(249, 245, 240, 0.1);
}

.bg-navbar {
    background-image: radial-gradient(circle, #0c5627, #1b682b, #2c7b2c, #3f8e2c, #54a12a, #459f34, #349d3d, #1e9b46, #008252, #006753, #004d4a, #003438);
}

.bg-dark {
    
    background-color: #A4D469 !important;
}

.bg-orange {
    
    background-color: #B73139 !important;
}

.icon {
    font-size: 30px !important;
}

.icon1 {
    font-size: 25px !important;
    color: white;
}
.btn-product {
    background-color:  #A4D469 !important;
}
.btn-orange {
    background-color:  #B73139 !important;
}
.p-top {
    padding-top: .6rem !important;
}

  
  input#number {
    text-align: center;
    border: none;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    margin: 0px;
    width: 40px;
    height: 40px;
  }
  
  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
  }

input[type=text] {
    width: 100%;
    padding: 0px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    height: 35px;
}

.sup-text {
    color:white;
    font-size: 16px;
    font-weight: bolder;
}

.vibrate-1 {
	-webkit-animation: vibrate-1 0.3s linear infinite both;
	        animation: vibrate-1 0.3s linear infinite both;
}

/* ----------------------------------------------
 * Generated by Animista on 2020-7-1 20:56:1
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation vibrate-1
 * ----------------------------------------
 */
 @-webkit-keyframes vibrate-1 {
    0% {
      -webkit-transform: translate(0);
              transform: translate(0);
    }
    20% {
      -webkit-transform: translate(-2px, 2px);
              transform: translate(-2px, 2px);
    }
    40% {
      -webkit-transform: translate(-2px, -2px);
              transform: translate(-2px, -2px);
    }
    60% {
      -webkit-transform: translate(2px, 2px);
              transform: translate(2px, 2px);
    }
    80% {
      -webkit-transform: translate(2px, -2px);
              transform: translate(2px, -2px);
    }
    100% {
      -webkit-transform: translate(0);
              transform: translate(0);
    }
  }
  @keyframes vibrate-1 {
    0% {
      -webkit-transform: translate(0);
              transform: translate(0);
    }
    20% {
      -webkit-transform: translate(-2px, 2px);
              transform: translate(-2px, 2px);
    }
    40% {
      -webkit-transform: translate(-2px, -2px);
              transform: translate(-2px, -2px);
    }
    60% {
      -webkit-transform: translate(2px, 2px);
              transform: translate(2px, 2px);
    }
    80% {
      -webkit-transform: translate(2px, -2px);
              transform: translate(2px, -2px);
    }
    100% {
      -webkit-transform: translate(0);
              transform: translate(0);
    }
  }

  